
h1{ background-color: darkblue; color: white; text-align: center; font-family: Times new roman; }

h2{ background-color: darkblue; color: white; text-align: center; font-family: times new roman; padding: 7px; }

body{ text-align: center; background-color: lightblue ; color: darkblue; }
